# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EntityFramework.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Rider\EntityFrameWork\.idea\.idea.EntityFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
